:root {
  --md-primary-fg-color:        #B3A369;
  --md-primary-fg-color--light: #877437;
  --md-primary-fg-color--dark:  #003057;
}

.md-typeset h1,
.md-typeset h2 {
  font-weight: 800;
}

div.has-actions details {
  border-bottom-color: rgba(0,0,0,0);
  border-top-color: rgba(0,0,0,0);
  border-left-color: rgba(0,0,0,0);
  border-right-color: rgba(0,0,0,0);
}
